<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>Email Signature</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body style="font-family:'Times New Roman',Times,serif;">
  <table style="font-family:'Times New Roman',Times,serif;" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="width:100px; padding:0; font-family:'Times New Roman',Times,serif; text-align:center; margin: auto;">
          <a href="http:////niml.org/wiki/index.php?title=Main_Page" target="_blank">
            <img style="width:80px; height:78px;"
            src="https://drive.google.com/file/d/1BSIGvm9Af0fV-cahuKZX472n9lgUck9T/view?usp=sharing" alt = "NIML Logo">
          </a>
        </td>
        <td style="font-family:inherit; padding:0; margin: auto;">
          <table style="font-family:inherit" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td style="font-family:inherit; padding:0; vertical-align:top;" valign="top">
                    <strong>
                    <a style="font-family:inherit; color:#245592; font-size:14pt; text-decoration: none;"
                    href="file:////C:Users/Greg/Documents/GitHub/gmail-signature/static/gmail_signature/Career_Profile/Ostin_Nielain_Arters-Resume.pdf"
                    target="_blank">Ostin Arters</a>
                    </strong>
                </td>
              </tr>
              <tr>
                  <td style="font-family:inherit; color:#666666; font-size:10pt; text-decoration: none;"
                  target="_blank">Research Laboratory Technician</td>
              </tr>
              <tr>
                <td style="font-family:inherit; font-size:9pt; line-height:18px; vertical-align:top;" valign="top">
                  <span style="font-family:inherit; color:#245592;">Phone: &sdot; </span>
                  <a style="font-family:inherit; text-decoration: none; color:#666666;" href="tel:2087218593">(208) 721-8593</a>
                </td>
              </tr>
              <tr>
                <td style="font-family:inherit; width:140px; padding-top:4px; padding-left:0; text-align:left;;" valign="left" width="140">
                  <span>
                    <a style="text-decoration: none; padding: 0 4px;" href="tel:2087218593" target="_blank">
                      <img alt="Phone" style="width:18px; height:17px;"
                      src="file:////C:Users/Greg/Documents/GitHub/gmail-signature/static/gmail_signature/images/Signature-Phone_Icon.png">
                    </a>
                  </span>
                  <span>
                    <a style="text-decoration: none; padding: 0 4px;" href="https://www.linkedin.com/in/ostin-arters-52076618a" target="_blank">
                      <img alt="linkedin" style="width:18px; height:18px;"
                      src="file:////C:Users/Greg/Documents/GitHub/gmail-signature/static/gmail_signature/images/Signature-Linkedin_Icon.png">
                    </a>
                  </span>
                  <span>
                    <a style="text-decoration: none; color: #666666; padding-left: 4px;" href="mailto:ostin.arters1128@gmail.com" target="_blank">
                      <img alt="Email" style="width:18px; height:16px;"
                      src="file:////C:Users/Greg/Documents/GitHub/gmail-signature/static/gmail_signature/images/Signature-Email_Icon.png">
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
